* {
  box-sizing: border-box;
  border-radius: 2px !important;
}


body {
  margin: 0;
  background-image: url("../images/IMG_BACK_2.png");
   background-size: cover;        /* ocupa toda la pantalla */
  background-position: center;   /* centra la imagen */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* deja el fondo fijo */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-responsive{
        display: none;
      }

.spinner {
  animation: girar 1s linear infinite;

}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.money {
  font-style: italic;
}

.money.positive {
  color: #77dd77;
}
.money.negative {
  color: #ff6961;
}
